
__MACOSX/._yolov3.weights
sdd_demo_video.mp4
SocialDist/socialdistance/modules/socialdist/yolov3.weights
Yolo/yolov3-tiny.weights
Yolo/yolov3.weights
yolov3-tiny.weights
Yolo/yolov3.zip
yolov3.weights
__pycache__/sdd.cpython-37.pyc
